<h1>Listing trainings</h1>

<div id="trainings">
  <% @trainings.each_with_index do |training, index| %>
    <div id="training">
      <div id="id" class="float_left"><%= index + 1 %>.</div>
      <div id="name" class="float_left"><b><%= training.name %></b></div>
      <div id="info" class="float_left"><%= training.info %></div>
      <div class="clear_both" />
      <div id="result_date" class="float_left"><%= training.result_date %></div>
      <div id="spacer" class="float_left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</div>
      <div id="result" class="float_left"><%= training.result %></div>
      <div id="" class="float_left">&nbsp;&nbsp;&nbsp;<%= link_to 'Show', training %> <%= link_to 'Edit', edit_training_path(training) %> </div>
      <div class="clear_both" />
    </div>
  <% end %>
</div>

<br />

<%= link_to 'New Training', new_training_path %>
