<div class="float_left">
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @training.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @training.name %>
</p>

<p>
  <b>Info:</b>
  <%= @training.info %>
</p>

<p>
  <b>Week days:</b>
  <%= @training.week_days %>
</p>

<p>
  <b>Times per day:</b>
  <%= @training.times_per_day %>
</p>

<p>
  <b>Result date:</b>
  <%= @training.result_date %>
</p>

<p>
  <b>Result:</b>
  <%= @training.result %>
</p>
<hr />
<ul>
  <% @training.exercises.each do |exercise| %>
    <li>Do:<%= exercise.name %> <%= exercise.amount %> times</li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
</div>


<div class="float_left">
  <fieldset>
    <legend>Add log to training</legend>
    <%= render "logs/form"%>
  </fieldset>
</div>
<div class="clear_both"></div>


<div class="content">
  <div id="placeholder" class="" style="width:600px;height:300px;" data-coordinates="<%= flot_logs(@training) %>"></div>
  <div class="">
  <%= render :partial => "logs/log", :collection=> @training.logs%>
  </div>
  
</div>

