<h1>Listing logs</h1>

<table>
  <tr>
    <th>Training</th>
    <th>User</th>
    <th>Value</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.training_name %></td>
    <td><%= log.user_id %></td>
    <td><%= log.value %></td>
    <td><%= log.time %></td>
    <td><%= link_to 'Show', log %></td>
    <td><%= link_to 'Edit', edit_log_path(log) %></td>
    <td><%= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log', new_log_path %>
