<p id="notice"><%= notice %></p>

<p>
  <b>Training:</b>
  <%= @exercise.training_id %>
</p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Type:</b>
  <%= @exercise.type %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
